{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": { "chrome": "55" },
        "debug": true
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["react-hot-loader/babel", "@babel/plugin-syntax-dynamic-import"]
}
