html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ins.adsbygoogle[data-ad-status="unfilled"] {
  display: none !important;
}